<div id="departamentos">

<div class="panel panel-default">
  <div class="panel-heading">Seleccione en orden de preferencia el departamento a donde solicita traslado:</div>

  <div class="panel-body">
	<div class="row">
	<% for(d in arrDepartamentos) { -%>
		<div class="col-xs-6 col-sm-4 col-lg-2">
			<div class="input-group" data-toggle="buttons">
				<span class="input-group-addon" id="orden_<%= d %>" style="min-width:3em;background-color:#fff;border:0"></span>
				<a role="button" class="btn btn-default dpto" data-toggle="buttons" dptoid="<%= d %>"><%= arrDepartamentos[d] %></a>
			</div>
		</div>
	<% } %>
	</div>
  </div>
</div>

</div>

<p>Los departamentos con color de fondo gris no se pueden elegir porque no tienen Unidades Docentes (20 horas) disponibles.<br>
   En el sitio web institucional está publicada la <a target="_blank" href="<%= sails.config.unidadesDocentesDisponibles %>">lista completa de Unidades Docentes disponibles</a> por asignatura.</p>
