html {
  height: 100%;
  overflow: hidden;
}
body,div#page-form {
  margin:0;
  padding:0;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
div#page-form header {
  box-sizing: border-box;
//  min-height: 40vw;
//  padding: 30vw 0 5vw;
//  padding:2em;
  position: relative;
  -webkit-transform-style: inherit;
  transform-style: inherit;
//  width: 100vw;
  height: 269px;
}
div#page-form header, div#page-form header-before {
  background: 50% 50% / cover;
  background-origin: border-box;
}
div#page-form header-before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-color: #fff;
  background-image: url(/images/fondo.jpg);
//  background-size: cover;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  height: 269px;
}
div#page-form header * {
  font-weight: normal;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}
div#page-form header p {
  background-color: hsla(0, 0%, 100%,0.3);
}
div#page-form div.content {
  background-color: #fff;
//  line-height: 1.7;
//  max-width: 32em;
//  padding: 5% calc(50% - 16em) 35%;
  padding: 3em 1em;
  position: relative;
  z-index: 2;
  min-height: 100vh;
}
form#solicitud {display:none;padding-top:2em;}
