table#resultado {
  margin-top:2em;
  margin-bottom:2em;
}
button {
  margin:0.5em;
  min-width:210px;
}
@media screen {
  table#resultado {
    table-layout:fixed;
  }
}
@media print {
  #botones {
    display:none;
  }
}
